<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        #data{
            font-size: 25px;
            position: absolute;
        }
    </style>
</head>
<body>
    <div id="data">
    This page is created by Ashutosh Sahoo, for the showcase of his resume. To know the biodata of Ashutosh you can 
    navigate according to your wish from home page buttons. Thank you.
    </div>
    
</body>
</html>